.entry-title{
  display: none;
}

html, body{
  overflow-x: hidden;
}

ul{
  list-style-type: none;
  margin: 0px;
}
p{
  @include xy-grid-container();
}

a{
  transition: all 0.35s ease-in;
}

.custom-video{
  transform: translateX(40%);
 
}

.wp-block-separator{
  border-bottom-width: 4px!important;
  opacity: 0.1;
  border-bottom-color: black!important;;
  @include breakpoint(small down) {
    margin: 0.5rem auto!important;
  }
}

.wp-block-spacer{
  @include breakpoint(small down) {
    height: 25px!important;
  }
}

.areas{
  h3{
    font: 700 36px/53px 'Lato';
    margin-bottom: 25px;
    padding-bottom: 10px;
    position: relative;
    @include breakpoint(medium) {
      margin-bottom: 40px;
      padding-bottom: 16px;
    }
    &:after{
      content: '';
      position: absolute;
      border-bottom: 6px solid $primary-color;
      height: 6px;
      border-radius: 2px;
      width: 65px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
    }
  }
  p{
    font: 500 16px/24px 'Lato';
    @include breakpoint(medium) {
      font: 500 20px/36px 'Lato';
    }
    padding: 0;
  }
}

.acf-map {
  width: 100%;
  height: 350px;
  border: #ccc solid 1px;
  margin: 20px 0;
  margin-top: 0px;
  @include breakpoint(medium) {
    height: 596px;
  }
}

// Fixes potential theme css conflict.
.acf-map img {
  max-width: inherit !important;
}

.introduce-text{
  p{
    color: $secondary-color;
    font: 500 16px/24px 'Lato';
    @include breakpoint(medium) {
      font: 500 18px/28px 'Lato';
    }
  }
}

.contact-section{
  background: #FAFAFA;
  padding-top: 15px;
  padding-bottom: 0px;
  position: relative;
  &:before{
    border-top: 6px solid $primary-color;
    width: 65px;
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 2px;
  }
  @include breakpoint(medium) {
    padding-top: 41px;
    padding-bottom: 75px;
  }
  h2{ 
    position: relative; 
    padding-bottom: 15px;
    margin-bottom: 15px;
    font: 700 30px/36px 'Lato';
    @include breakpoint(medium) {
      padding-bottom: 16px;
      margin-bottom: 15px;
      font: 700 48px/54px 'Lato';
    }
    @include breakpoint(large) {
      margin-bottom: 35px;
    }
    &:after{
      content: '';
      position: absolute;
      border-bottom: 6px solid $primary-color;
      height: 6px;
      border-radius: 2px;
      width: 65px;
      bottom: 0;
      left: 0;
    }
  }
  .wp-block-column{
    #wpforms-364{
      label{
        font: 700 14px/24px 'Lato';
      }
      input, textarea{
        color: $secondary-color;
        border: 1px solid $primary-color;
        border-radius: 5px;
        font-size: 14px;
        padding: 12px 0 12px 12px;
        @include breakpoint(medium) {
          padding: 12px 0 12px 20px;
        }
        &#wpforms-364-field_6{
          padding-left: 50px;
        }
      }
      textarea{
        @include breakpoint(small down) {
          height: 150px;
        }
      }
      .wpforms-submit-container{
        margin-top: 20px;
        button{
          color: white;
          background-color: $primary-color;
          border: none;
          border-radius: 4px;
          font: 700 14px/26px 'Lato';
          padding: 8px 35px;
          @include breakpoint(medium) {
            padding: 9px 49px;
            font: 700 16px/30px 'Lato';
          }
          &:hover{
            color: white;
            filter: brightness(110%);
          }
        }
      }
    }
  }
  .contact-details{
    @include breakpoint(medium) {
      margin-left: 1.5em;
    }
    .wp-block-columns{
      img{
        margin-bottom: 30px;
        height: 313px;
      }
      .contact-block-divider{
        flex-basis: 10.3%!important;
      }
      .contact-divider{
        opacity: 1;
        border-bottom-width: 6px!important;
        border-color:  $primary-color;
        margin-top: 10px;
      }
      p{
        padding: 0;
        margin-bottom: 10px;
        @include breakpoint(medium) {
          margin-bottom: 25px;
        }
      }
      a{
        font: 600 18px/24px 'Lato';
        @include breakpoint(medium) {
          
        }
        @include breakpoint(xxlarge) {
          font: 600 22px/30px 'Lato';
        }
        color: $secondary-color;
        &:hover{
          color: $primary-color;
        }
      }
      .social-contact{
        .wp-block-group__inner-container{
          display: flex;
          .facebook-contact, .instagram-contact{
            margin-right: 35px;
          }
          .facebook-contact{
            svg{
              path{
                transition: all 0.35s ease-in-out;
                &:hover{
                  fill: #2d88ff;
                  transition: all 0.35s ease-out;
                }
              }
            }
          }
          .instagram-contact{
            svg{
              path{
                transition: all 0.35s ease-in-out;
                &:hover{
                  fill: #d92d7c;
                  transition: all 0.35s ease-out;
                }
              }
            }
          }
          .twitter-contact{
            svg{
              path{
                transition: all 0.35s ease-in-out;
                &:hover{
                  fill: #1da1f2;
                  transition: all 0.35s ease-out;
                }
              }
            }
          }
          .twitter-contact{
            display: flex;
            align-items: center;
          }
          
        }
      }
    }
    .contact-custom-block{
      @include breakpoint(medium only) {
        flex-basis: 80%!important;
        margin-left: 20px!important;
      }
      @include breakpoint(large only) {
        margin-left: 10px;
      }
    }
  }
}

.categories{
  @include xy-grid();
  justify-content: center;
  margin-bottom: 15px;
  @include breakpoint(medium) {
    margin-bottom: 39px;
  }
  .wp-block-group__inner-container{
    display: flex;
    flex-direction: column;
    @include breakpoint(medium) {
      flex-direction: row;
    }
    p{
      a{
        font: 700 16px/24px 'Lato';
        color: $secondary-color;
        @include breakpoint(medium) {
          font: 700 18px/30px 'Lato';
        }
        &:hover{
          color: $primary-color;
        }
      }
    }
  }
}

.has-text-align-center{
  @include breakpoint(small down) {
    margin-bottom: 0;
  }
}

.custom-header-text{
  position: relative;
  padding-bottom: 20px;
  @include breakpoint(medium) {
    padding-bottom: 58px;
  }
  &:before{
    border-top: 6px solid $primary-color;
    width: 65px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 2px;
  }
}


.custom-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
  padding-bottom: 23px;
  &:after{
    border-bottom: 4px solid #F6F6F6;
    width: 100%;
    height: 3px;
    content: '';
    position: absolute;
    bottom: 0;

  }
  @include breakpoint(medium) {
    margin-top: 65px;
    padding-bottom: 73px;
  }
  a.next, a.prev{
    display: none;
  }
  a{
    border: 2px solid white;
    margin: 0 16px;
    font: 700 16px/24px 'Lato';
    color: $secondary-color;
    @include breakpoint(medium) {
      font: 700 18px/30px 'Lato';
    }
  }
  span{
    border: 2px solid $primary-color;
    margin: 0 16px;
    font: 700 16px/24px 'Lato';
    padding: 5px 15px;
    color: $primary-color;
    @include breakpoint(medium) {
      font: 700 18px/30px 'Lato';
    }
  }
}